click==8.0.4     # https://click.palletsprojects.com/
pytest           # https://docs.pytest.org/
requests>=2,<3   # https://requests.readthedocs.io/en/latest/
python-dotenv    # https://github.com/theskumar/python-dotenv